.resolve-modal-form {
    width: 50%;
}

.resolve-market-button {
    background: rgb(38,92,255);
    background: linear-gradient(153deg, rgba(38,92,255,1) 0%, rgba(34,34,34,1) 63%, rgba(170,0,255,1) 100%);    color: white;
    border-radius: 5px;
    font-size: 1vw;
    padding: 1% 2% 1% 2%;
    cursor: pointer;
}

.manage-market-button {
    background: black;

}

.resolve-single-data {
    /* border: 1px solid lightgray; */
    /* padding: 1% 4% 1% 4%; */
    /* border-radius: 10px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}


.resolve-market-select {
    width: 49%;
    aspect-ratio: 3/1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2vw;
    cursor: pointer;
}

.resolve-yes {
    background-color: #265cff79;
}

.resolve-no {
    background-color: #aa00ff5e;
}

.yes-selected {
    background-color: #265CFF;
}

.no-selected {
    background-color: #AA00FF;
}
