.create-shares-modal-form {
    width: 30%;
}

.create-shares-modal-button {
    /* border: 1px solid black; */
    width: fit-content;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    color: white;
    background-color: green;
    font-size: 1.2vw;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: .5%;
}

.create-shares-modal-button:hover {
    background-color: rgba(0, 128, 0, 0.685);
}

.out-of-funds {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin: 2% 0% 2% 0%;
}
