.buy-shares-modal-form {
    width: 60%;
}

.buy-shares-modal-button {
    border-bottom: 1px solid gainsboro;
    width: 100%;
    aspect-ratio: 20/1;
    color: #265CFF;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.make-it-no {
    color: #AA00FF;
}

.buy-shares-modal-button:hover {
    background-color: rgba(220, 220, 220, 0.308);
}

.buy-shares-data {
    display: flex;
    width: 100%;
}

.buy-shares-data-left {
    width: 50%;
    display: flex;
    justify-content: end;
}

.buy-shares-data-right {
    width: 50%;
    padding-left: 1%;
    display: flex;
    align-items: center;

}

.buy-shares-but-it-belongs-to-you {
    font-size: .7vw;
    margin-left: 1%;
    /* margin-bottom: 4%; */
    /* line-height: 200%; */
    color: red;
}
