.search-card {
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-radius: 5px;
    min-height: 150px;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-end; */
}

.search-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.search-results {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    /* border: 1px solid blue; */
    justify-content: center;
    display: grid;

    grid-template-columns: 18% 18% 18%;
    column-gap: 10px;
    row-gap: 10px;
}



.search-card > .top > .title {
    font-size: 20px;
    font-weight: 600;
}

.search-card > .bottom > .odds {
    /* margin-left: 99%; */
    /* border: 1px solid black; */
    width: fit-content;
    font-size: 20px;
}

.search-card > .bottom {
    margin-right: auto;
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: flex-end; */
}

.search-card > .bottom > .featured-none-at-all {
    font-size: 30px;
    margin: auto;
}

.search-card > .bottom > .featured-none-at-all-but-close {
    font-size: 30px;
    margin: auto;
}

.search-card > .bottom > .card-yes-no-wrapper {
    /* border: 1px solid black; */
    /* width: fit-content; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 200%;
    white-space: nowrap;

}

.search-card > .bottom > .card-yes-no-wrapper > .card-yes {
    /* margin-right: 20%; */
}

@media screen and (max-width: 1300px) and (min-width: 751px) {
    .search-results {
        grid-template-columns: 40% 40%;
    }
  }

@media screen and (max-width: 750px) {
.search-results {
    grid-template-columns: 80%;
}
}
