.logged-in-container {
    margin: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
}

.logged-in-header {
    /* margin-top: 1%; */
    /* margin-bottom: 1%; */
    /* width: fit-content; */
    /* position: relative; */
    font-size: 130%;
    font-weight: 600;
}


.logged-in-header2 {
    margin-top: 1%;
    margin-bottom: 1%;
    width: fit-content;
    font-size: 150%;
    font-weight: 600;
}

.featured-markets {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    aspect-ratio: 9/1;
    font-size: 150%;
    font-weight: 600;
    /* height: 300px; */
}

.featured-card-wrapper {
    /* padding-top: 2%; */
    border-bottom: 3px solid gainsboro;
    width: 25%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    padding: 1% 1% 1% 1%;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid green; */

    /* justify-content: center; */
    /* padding-left: 1%; */
    /* padding-top: 1%; */
    /* aspect-ratio: 1 / 0.1; */
}

.featured-card-wrapper:hover .featured-card-title{
    /* color: blue */
    /* background-color: aliceblue; */
    /* border-bottom: 2px solid black; */
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5%;
    text-decoration-color: rgba(0, 0, 128, 0.589);
    /* text-underline-offset: 0px 10px; */
}

.featured-card-image {
    width: 30%;
    height: 70%;
    /* aspect-ratio: 2/1; */
    filter: grayscale(30%);
    object-fit: cover;
    margin-top: 2%;
    border-radius: 5px;
    /* border: 1px solid blue; */
}

.featured-card-right {
    margin-left: 5%;
    line-height: 125%;
    width: 65%;
    height: inherit;
    border-right: 1px solid gainsboro;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.featured-yes-no {
    display: flex;
    width: 100%;
    /* height: 40%; */
    /* border: 1px solid black; */
    flex-direction: row;
    margin-top: 2%;
    /* justify-content: center; */
    align-items: center;
}

.featured-none-at-all {
    color: #19c10d;
    font-size: 100%;
    /* border: 1px solid blue; */
}

.featured-card-title {
    font-weight: 600;
    font-size: 75%;
    margin-top: 2%;
    margin-right: 2%;
    border-bottom: 2px solid white;
    /* width: max-content; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.featured-card-resolves {
    font-weight: 700;
    font-size: 75%;
    color: gray;
    margin-top: 1%;
    /* font-size: 1vw; */
}

.rest-markets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    font-size: 150%;
    font-weight: 600;

}

.rest-card-wrapper {
    border-bottom: 3px solid gainsboro;
    /* border: 1px solid green; */
    width: 100%;
    aspect-ratio: 5/1;
    display: flex;
    /* padding: 1% 1% 1% 1%; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.rest-card {
    display: flex;
    width: 96%;
    height: 96%;
    /* border: 3px dotted purple; */
}

.rest-card-left {
    /* margin-left: 5%; */
    line-height: 125%;
    width: 50%;
    /* border: 1px solid black; */
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rest-card-right {
    width: 50%;
    height: inherit;
    /* border: 1px solid black; */
    border-right: 1px solid gainsboro;


}

.rest-card-image {
    width: 95%;
    height: 95%;
    /* aspect-ratio: 2/1; */
    filter: grayscale(30%);
    object-fit: cover;
    margin-top: 2%;
    border-radius: 5px;
}



.rest-card-title {
    font-weight: 600;
    font-size: 75%;
    margin-top: 2%;
    margin-right: 2%;
    border-bottom: 2px solid white;
    /* width: max-content; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* border: 1px solid black; */
}

.rest-card-wrapper:hover .rest-card-title{
    /* color: blue */
    /* background-color: aliceblue; */
    /* border-bottom: 2px solid black; */
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 10%;
    text-decoration-color: rgba(0, 0, 128, 0.589);
    /* text-underline-offset: 0px 10px; */
}
