.splash-container {
    /* border: 1px solid blue; */
    width: 100%;
    margin: auto;
}

.splash-banner {
    width: 100%;
    /* border: 1px solid black; */
    aspect-ratio: 35/1;
    background: rgb(63,94,251);
    background: linear-gradient(8deg, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 78%, rgba(252,70,107,1) 100%);
    color: white;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
    /* vertical-align: middle; */
    /* justify-items: center; */
    /* vertical-align: middle; */
    /* align-items: center; */
    /* justify-content: center; */

}

.splash-smaller {
    width: 80%;
    margin: auto;
    aspect-ratio: 3/1;
    /* border: 1px solid black; */
    display: flex;
}

.splash-left {
    width: 30%;
    height: inherit;
    /* padding: 5% 5% 5% 5%; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splash-left-big-text {
    width: 90%;
    height: inherit;
    margin-top: 5%;
    /* margin: 5% 5% 5% 5%; */
    /* border: 1px solid green; */
    font-size: 4vw;
    font-weight: 500;
}

.splash-left-small-text {
    /* width: 90%; */
    height: inherit;
    margin-top: 4%;
    /* margin: 5% 0% 5% 12%; */
    /* border: 1px solid green; */
    font-size: 1.25vw;
    font-weight: 500;
}


.splash-right {
    width: 70%;
    /* aspect-ratio: 16 / 9; */
    /* aspect-ratio: 1/1; */
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.splash-card-wrapper {
    /* padding-top: 2%; */
    /* border: 1px solid green; */
    width: 32%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding-left: 1%; */
    /* padding-top: 1%; */
    /* aspect-ratio: 1 / 0.1; */

}

.splash-card {
    border-bottom: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
    /* border-top: 1px solid green; */
    /* padding-top: 5%; */
    /* border: 1px solid green; */
    padding-left: 10px;
    width: 93%;
    height: 60%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* justify-content: space-evenly; */
    /* border: 1px solid red; */
}

.splash-card:hover {
    background-color: whitesmoke;
}

.splash-card-image {
    width: 30%;
    aspect-ratio: 2/1;
    object-fit: cover;
    margin-top: 2%;
}

.splash-card-title {
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 2%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.splash-card-resolves {
    font-weight: 700;
    color: gray;
    margin-top: 1%;
    font-size: 1vw;
}

.splash-yes-no {
    display: flex;
    /* height: 40%; */
    /* border: 1px solid black; */
    flex-direction: row;
    margin-top: 2%;
    /* justify-content: center; */
    align-items: center;
}

.splash-yes-no > *{
    font-weight: 700;
    font-size: 1.5vw;
}

.splash-yes {
    color: #AA00FF;
    margin-right: 4%;
}

.splash-no {
    color: #265CFF

}
