.nav-outer {
    border-bottom: 1.5px solid lightgray;
    /* width: 100%; */
    height: 55px;
    padding: 0px 10px 0px 10px;
    /* padding-left: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-inner-logged-out {
    /* border: 1px solid blue; */
    margin: auto;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-image-container {

}

.nav-right {
    display: flex;
    /* border: 2px solid green; */
    /* height: inherit; */
}

.nav-logo {
    width: 200px;
    cursor: pointer;
}
